/* Cores:
1. Background dos posts = #fffafa
2. Cor da data = #00808
*/
* body {
  margin: 0px;
  padding: 0px;
}
.post-container {
  background-color: #fffafa;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.date {
  color: #008080;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-top: 35px;
}

.post h1 {
  font-family: 'Montserrat', sans-serif;
}

.post-container p {
  font-family: 'Open Sans', sans-serif;
}

.post-content {
  padding-bottom: 20px;
  
}